<div class"app-header">
    <div class="header-title">Account</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content> 
    
    <div class="er">
        <div class="a">
            <img src="img/nekoten.png">
        </div>
        <div class="b">
            <span id="name_en"></span>
        </div>
        
    </div>
    <div class="hr"></div>
    <ul class="eq">
        <li class="item item-complex">
            <a class="item-content">
                <span>My Delivery</span>
                <span class="a">10</span>
                <span class="ion-ios-arrow-right"></span>
            </a>
        </li>
        <li class="item item-complex">
            <a class="item-content" href="#tab/paycheck/">
                <span>My Payback</span>
                <span class="a">$ <span class="total_paycheck"></span></span>
                <span class="ion-ios-arrow-right"></span>
            </a>
        </li>
    </ul>
    <div class="gt">
        <button class="btn" onclick="sign_out()">Sign Out</button>
    </div>
  </ion-content>
</ion-view>

<script>
    $('.er #name_en').text(localStorage.getItem('name_en'));
    
    function sign_out(){
        localStorage.removeKey('staff_id');
        localStorage.removeKey('name_en');
        localStorage.removeKey('name_kh');
        openModal('sign_in_modal');
    }

    $('.total_paycheck').text(localStorage.getItem('total_paycheck'));
    
</script>