<div class"app-header">
    <div class="header-title" k="ការកំណត់របស់គណនី">Account Settings</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr">
            <li>            
                <span k="ឈ្មោះ">Full Name</span>
                <span class="fa fa-angle-right"></span>
                <span class="a" id="full_name"></span>
            </li>
            <li>
                <span k="លេខទូរស័ព្ទ">Phone Number</span>
                <span class="fa fa-angle-right"></span>
                <span class="a" id="phone_number"></span>
            </li>
        </ul>
        <div class="hr"></div>
        <div class="so">
            <button id="sign_out" onclick="signOut()">Sign Out</button>
        </div>
        
    </ion-content>
</ion-view>
<script>
    la();
    $('.mr #full_name').text(localStorage.getItem('full_name'));
    $('.mr #phone_number').text(localStorage.getItem('phone_number'));
    function signOut(){
        if(confirm('Are you sure that you want to sign out?') == true) {
            localStorage.removeItem('user_id');
            localStorage.removeItem('full_name');
            localStorage.removeItem('phone_number');
            
            window.location.href='#tab.home';
            alert('Signed out');
        }
    }
</script>