<ion-view view-title="Account">
  <ion-content>
    <div class="er">
        <img src=""
        <span id="name_en"></span>
    </div>
    <div class="gt">
        <button class="btn" onclick="sign_out()">Sign Out</button>
    </div>
  </ion-content>
</ion-view>

<script>
    $('.er #name_en').text(localStorage.getItem('name_en'));
    
    function sign_out(){
        localStorage.removeKey('staff_id');
        localStorage.removeKey('name_en');
        localStorage.removeKey('name_kh');
        openModal('sign_in_modal');
    }
</script>