<div class"app-header">
    <div class="header-title">Action</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>             
        <ul class="eq">
            <li class="item item-complex">
                <a class="item-content" href="#tab/report">
                    <span class="ion-ios-paper-outline b"></span>
                    <span class="c">New Report</span>                    
                    <span class="ion-ios-arrow-right"></span>
                </a>
            </li>
            <li class="item item-complex">
                <a class="item-content" href="#tab/store">                
                    <span class="ion-ios-box-outline b"></span>                    
                    <span class="c">Register Store</span>                    
                    <span class="ion-ios-arrow-right"></span>
                </a>
            </li>
            <li class="item item-complex">
                <a class="item-content" href="#tab/gas_ticket">                
                    <span class="ion-ios-box-outline b"></span>                    
                    <span class="c">Gas Ticket</span>                    
                    <span class="ion-ios-arrow-right"></span>
                </a>
            </li>
        </ul>
        
    </ion-content>
</ion-view>

