<div class"app-header">
    <div class="header-title" k="កន្ត្រកទំនិញ">Cart (<span class="cart_count"></span>)</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>  
        
        <div class="wrap">
            <ul class="cart">
                
            <ul>
        </div>  
        
    </ion-content>
    <div class="cart-footer" style="display:none">
        <div class="e" id="summary" style="display:none">
            <div class"ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" onclick="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" k="ទិញ" onclick="window.location.href='#tab/review_order/'">BUY (<span class="cart_count"></span>)</div>
    </div>
</ion-view>

<script>
    
    $('.cart-footer .d').click();

    function loadCart(){
        $('.cart').html('');
        var shopping_cart = localStorage.getItem('shopping_cart');
        if (!shopping_cart){
            $('#no_item_in_cart').show();        
            $('.cart-footer').hide();        
        } else {        
            $('#no_item_in_cart').hide();            
            $('.cart-footer').show();        
            var cart = localStorage.getItem('shopping_cart').split(',');
            var size_l = '120';       
            var subtotal = 0;
            var cart_count = 0;
            var delivery_fee = localStorage.getItem('delivery_fee');
            $('.delivery_fee').text('$ '+delivery_fee);
            
            for (var j = 1; j < cart.length; j++){
                var ad_id = cart[j].split(':')[0];
                var opt = cart[j].split(':')[1];
                var qty = cart[j].split(':')[2];                
                cart_count += parseInt(qty);
                
                $.post('http://www.nekoten.khmerqq.com/app/product_item.php',{qty:qty, size_l:size_l, ad_id:ad_id},function(data){
                    var ad = JSON.parse(data)[0];        
                    subtotal += parseFloat(ad['price'].replace('$ ', ''))*parseInt(qty);                     
                    var str = '<li class="p-list" id="cart-item-'+ad['ad_id']+'">';
                        str += '<div class="a" style="width:'+size_l+'px;height:'+size_l+'px">';
                            str += '<img src="http://nekoten.khmerqq.com/ads/'+ad['ad_id']+'/1_m.jpg" style="width:'+ad['w']+'; height:'+ad['h']+'; margin-'+ad['margin']+':'+ad['px_l']+'px">';
                        str += '</div>';
                        str += '<div class="b">';
                            str += '<div class="c">'+ad['title']+'</div>';
                            str += '<div class="cc"><span class="ion-checkmark-round"></span><span k=" មានក្នុងស្តុក"> In Stock</span></div>';
                            str += '<div class="e">';
                                str += '<div class="dd">'+ad['price']+'</div>';
                                str += '<div class="h">';
                                    str += '<span class="jj" onclick="qtyMinus(\''+ad['ad_id']+'\')"><span class="j ion-ios-minus-empty"></span></span>';
                                    str += '<span id="qty">'+ad['qty']+'</span>';
                                    str += '<span class="jj" onclick="qtyPlus(\''+ad['ad_id']+'\')"><span class="j ion-ios-plus-empty"></span></span>';
                                str += '</div>';
                                str += '<div class="i"><span class="delete ion-ios-trash-outline" onclick="deleteCart(\''+ad['ad_id']+'\')"></span></div>';
                            str += '</div>';
                        str += '</div>';
                    str += '</li>';
                    $('.cart').append(str);                            
                    
                    $('.subtotal').text('$ '+subtotal.toFixed(2));
                    $('.total').text('$ '+(parseFloat(subtotal)+parseFloat(delivery_fee)).toFixed(2));
                });                 
            }
            $('.cart_count').text(cart_count);
            
            
            
        }
    }    
    la();
    loadCart();
    
    function deleteCart(ad_id){
        if (confirm('Remove this item from your Shopping Cart?')){
            var a = localStorage.getItem('shopping_cart').split(',');
            var b = '';            
            for (var i = 1; i < a.length; i++){                
                if (a[i].split(':')[0] == ad_id) continue;
                b += ','+a[i];
            }
            localStorage.setItem('shopping_cart', b); 
            loadCart();
        }
    }
    function qtyPlus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').text()<10){
            $('#cart-item-'+ad_id+' #qty').text(parseInt($('#cart-item-'+ad_id+' #qty').text(), 10) + 1);    
        }        
    }
    function qtyMinus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').text() > 0){
            $('#cart-item-'+ad_id+' #qty').text(parseInt($('#cart-item-'+ad_id+' #qty').text(), 10) - 1);
        }
    }
    
        
        
    
    
</script>
