<div class"app-header">
    <div class="header-title" k="កន្ត្រកទំនិញ">Cart (<span id="cart_count"></span>)</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>  
        <center id="no_item_in_cart" style="margin-top:30%; color:#bbb; display:none">
            <i style="font-size:100px" class="ion-bag"></i>
            <div k="គ្មានទំនិញក្នុងកន្ត្រក">Your Shopping Cart is Empty</div>        
        </center>
        <div class="wrap">
            <ul id="cart">
                
            <ul>
        </div>  
        <div class="cart-footer">
            <div class="a">
                <div class="aa">
                    <div class="b"><span k="សរុប">Total</span></div>
                    <div class="c"><span class="ion-arrow-down-b"></span></div>
                </div>
                <div class="ab">
                    $ 10
                </div>
            </div>
            <div class="d" k="ទីញ">BUY</div>
        </div>
  </ion-content>
</ion-view>
<script>

    function loadCart(){
        $('#cart').html('');
        var shopping_cart = localStorage.getItem('shopping_cart');
        if (!shopping_cart){
            $('#no_item_in_cart').show();        
        } else {        
            $('#no_item_in_cart').hide();
            var cart = localStorage.getItem('shopping_cart').split(',');
            var size_l = '120';       
            $('#cart_count').text(cart.length-1);
            for (var j = 1; j < cart.length; j++){
                var ad_id = cart[j].split(':')[0];
                var opt = cart[j].split(':')[1];
                var qty = cart[j].split(':')[2];
                
                $.post('http://www.nekoten.khmerqq.com/app/product_item.php',{qty:qty, size_l:size_l, ad_id:ad_id},function(data){
                    var ad = JSON.parse(data)[0];        
                    var str = '<li class="p-list" id="cart-item-'+ad['ad_id']+'">';
                        str += '<div class="a" style="width:'+size_l+'px;height:'+size_l+'px">';
                            str += '<img src="http://nekoten.khmerqq.com/ads/'+ad['ad_id']+'/1_m.jpg" style="width:'+ad['w']+'; height:'+ad['h']+'; margin-'+ad['margin']+':'+ad['px_l']+'px">';
                        str += '</div>';
                        str += '<div class="b">';
                            str += '<div class="c">'+ad['title']+'</div>';
                            str += '<div class="cc"><span class="ion-checkmark-round"></span><span k=" មានក្នុងស្តុក"> In Stock</span></div>';
                            str += '<div class="e">';
                                str += '<div class="d">'+ad['price']+'</div>';
                                str += '<div class="h">';
                                    str += '<span class="jj" onclick="qtyMinus(\''+ad['ad_id']+'\')"><span class="j ion-ios-minus-empty"></span></span>';
                                    str += '<span id="qty">'+ad['qty']+'</span>';
                                    str += '<span class="jj" onclick="qtyPlus(\''+ad['ad_id']+'\')"><span class="j ion-ios-plus-empty"></span></span>';
                                str += '</div>';
                                str += '<div class="i"><span class="delete ion-ios-trash-outline" onclick="deleteCart(\''+ad['ad_id']+'\')"></span></div>';
                            str += '</div>';
                        str += '</div>';
                    str += '</li>';
                    $('#cart').append(str);                            
                }); 
            }
        }
    }    
    la();
    loadCart();
    
    function deleteCart(ad_id){
        if (confirm('Remove this item from your Shopping Cart?')){
            var a = localStorage.getItem('shopping_cart').split(',');
            var b = '';            
            for (var i = 1; i < a.length; i++){                
                if (a[i].split(':')[0] == ad_id) continue;
                b += ','+a[i];
            }
            localStorage.setItem('shopping_cart', b); 
            loadCart();
        }
    }
    function qtyPlus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').text()<10){
            $('#cart-item-'+ad_id+' #qty').text(parseInt($('#cart-item-'+ad_id+' #qty').text(), 10) + 1);    
        }        
    }
    function qtyMinus(ad_id){
        if ($('#cart-item-'+ad_id+' #qty').text() > 0){
            $('#cart-item-'+ad_id+' #qty').text(parseInt($('#cart-item-'+ad_id+' #qty').text(), 10) - 1);
        }
    }
    
        
        
    
    
</script>
