<div class"app-header">
    <div class="header-title">Deliver to</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr">
            <li onclick="localStorage.setItem('delivery_to', 'Phnom Penh'); load('delivery_to');" ng-click="myGoBack()">
                <span>Phnom Penh</span>
                <span id="Phnom Penh" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Siem Reap'); load('delivery_to');" ng-click="myGoBack()">
                <span>Siem Reap</span>
                <span id="Siem Reap" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Battambang'); load('delivery_to');" ng-click="myGoBack()">
                <span>Battambang</span>
                <span id="Battambang" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kampong Cham'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kampong Cham</span>
                <span id="Kampong Cham" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Preah Sihanouk'); load('delivery_to');" ng-click="myGoBack()">
                <span>Preah Sihanouk</span>
                <span id="Preah Sihanouk" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Koh Kong'); load('delivery_to');" ng-click="myGoBack()">
                <span>Koh Kong</span>
                <span id="Koh Kong" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kampong Chhnang'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kampong Chhnang</span>
                <span id="Kampong Chhnang" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kampong Speu'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kampong Speu</span>
                <span id="Kampong Speu" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kampong Thom'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kampong Thom</span>
                <span id="Kampong Thom" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kampot'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kampot</span>
                <span id="Kampot" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kandal'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kandal</span>
                <span id="Kandal" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kep'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kep</span>
                <span id="Kep" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Svay Rieng'); load('delivery_to');" ng-click="myGoBack()">
                <span>Svay Rieng</span>
                <span id="Svay Rieng" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Takeo'); load('delivery_to');" ng-click="myGoBack()">
                <span>Takeo</span>
                <span id="Takeo" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Kratie'); load('delivery_to');" ng-click="myGoBack()">
                <span>Kratie</span>
                <span id="Kratie" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Pursat'); load('delivery_to');" ng-click="myGoBack()">
                <span>Pursat</span>
                <span id="Pursat" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Prey Veng'); load('delivery_to');" ng-click="myGoBack()">
                <span>Prey Veng</span>
                <span id="Prey Veng" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Banteay Meanchey'); load('delivery_to');" ng-click="myGoBack()">
                <span>Banteay Meanchey</span>
                <span id="Banteay Meanchey" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Pailin'); load('delivery_to');" ng-click="myGoBack()">
                <span>Pailin</span>
                <span id="Pailin" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Preah Vihear'); load('delivery_to');" ng-click="myGoBack()">
                <span>Preah Vihear</span>
                <span id="Preah Vihear" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Stung Treng'); load('delivery_to');" ng-click="myGoBack()">
                <span>Stung Treng</span>
                <span id="Stung Treng" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Oddar Meanchey'); load('delivery_to');" ng-click="myGoBack()">
                <span>Oddar Meanchey</span>
                <span id="Oddar Meanchey" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Mondulkiri'); load('delivery_to');" ng-click="myGoBack()">
                <span>Mondulkiri</span>
                <span id="Mondulkiri" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Ratanakiri'); load('delivery_to');" ng-click="myGoBack()">
                <span>Ratanakiri</span>
                <span id="Ratanakiri" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('delivery_to', 'Tboung Khmum'); load('delivery_to');" ng-click="myGoBack()">
                <span>Tboung Khmum</span>
                <span id="Tboung Khmum" class="fa fa-check"></span>
            </li>

        </ul>        
    </ion-content>
</ion-view>
<script>
    load('delivery_to');
    //load('language');
</script>