<div class"app-header">
    <div class="header-title">Deliver to</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr" id="delivery_to_ul">
            
            

        </ul>      
        
    </ion-content>
</ion-view>
<script>
    la();
    
    $.post('http://www.nekoten.khmerqq.com/app/location.php',{}, function(data){
        var arr = JSON.parse(data);
        for (var i = 0; i < arr.length; i++){
            var a = arr[i];
    
            var str = '<ion-item class="item item-complex" onclick="localStorage.setItem(\'delivery_to\', \''+a['name_en']+','+a['name_kh']+'\'); localStorage.setItem(\'delivery_fee\', '+a['price']+');load(\'delivery_to\');">';
                    str += '<a href="#tab/more" class="item-content"><span k="'+a['name_kh']+'">'+a['name_en']+'</span>';
                    str += '<span id="'+a['name_en']+'" class="fa fa-check"></span>';
            str += '</a></ion-item>';
            $('#delivery_to_ul').append(str); 
        }
        load('delivery_to');
        la();
    });
    
    //load('language');
</script>