<div class"app-header">
    <div class="header-title">Deliver to</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr">
            <li onclick="localStorage.setItem('delivery_to', 'Phnom Penh, ភ្នំពេញ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ភ្នំពេញ">Phnom Penh</span>
                <span id="Phnom Penh" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Siem Reap, សៀមរាប'); load('delivery_to');" ng-click="myGoBack()">
                <span k="សៀមរាប">Siem Reap</span>
                <span id="Siem Reap" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Battambang, បាត់ដំបង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="បាត់ដំបង">Battambang</span>
                <span id="Battambang" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kampong Cham, កំពង់ចាម'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កំពង់ចាម">Kampong Cham</span>
                <span id="Kampong Cham" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Preah Sihanouk, ព្រះសីហនុ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ព្រះសីហនុ">Preah Sihanouk</span>
                <span id="Preah Sihanouk" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Koh Kong, កោះកុង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កោះកុង">Koh Kong</span>
                <span id="Koh Kong" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kampong Chhnang, កំពង់ឆ្នាំង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កំពង់ឆ្នាំង">Kampong Chhnang</span>
                <span id="Kampong Chhnang" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kampong Speu, កំពង់ស្ពឺ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កំពង់ស្ពឺ">Kampong Speu</span>
                <span id="Kampong Speu" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kampong Thom, កំពង់ធំ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កំពង់ធំ">Kampong Thom</span>
                <span id="Kampong Thom" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kampot, កំពត'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កំពត">Kampot</span>
                <span id="Kampot" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kandal, កណ្តាល'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កណ្តាល">Kandal</span>
                <span id="Kandal" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kep, កែប'); load('delivery_to');" ng-click="myGoBack()">
                <span k="កែប">Kep</span>
                <span id="Kep" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Svay Rieng, ស្វាយរៀង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ស្វាយរៀង">Svay Rieng</span>
                <span id="Svay Rieng" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Takéo, តាកែវ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="តាកែវ">Takéo</span>
                <span id="Takéo" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Kratié, ក្រចេះ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ក្រចេះ">Kratié</span>
                <span id="Kratié" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Pursat, ពោធិ៍សាត់'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ពោធិ៍សាត់">Pursat</span>
                <span id="Pursat" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Prey Veng, ព្រៃវែង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ព្រៃវែង">Prey Veng</span>
                <span id="Prey Veng" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Banteay Meanchey, បន្ទាយមានជ័យ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="បន្ទាយមានជ័យ">Banteay Meanchey</span>
                <span id="Banteay Meanchey" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Pailin, បៃលិន'); load('delivery_to');" ng-click="myGoBack()">
                <span k="បៃលិន">Pailin</span>
                <span id="Pailin" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Preah Vihear, ព្រះវិហារ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ព្រះវិហារ">Preah Vihear</span>
                <span id="Preah Vihear" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Stung Treng, ស្ទឹងត្រែង'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ស្ទឹងត្រែង">Stung Treng</span>
                <span id="Stung Treng" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Oddar Meanchey, ឧត្តរមានជ័យ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ឧត្តរមានជ័យ">Oddar Meanchey</span>
                <span id="Oddar Meanchey" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Mondulkiri, មណ្ឌលគីរី'); load('delivery_to');" ng-click="myGoBack()">
                <span k="មណ្ឌលគីរី">Mondulkiri</span>
                <span id="Mondulkiri" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Ratanakiri, រតនគីរី'); load('delivery_to');" ng-click="myGoBack()">
                <span k="រតនគីរី">Ratanakiri</span>
                <span id="Ratanakiri" class="fa fa-check"></span>
            </li>
                <li onclick="localStorage.setItem('delivery_to', 'Tboung Khmum, ត្បូងឃ្មុំ'); load('delivery_to');" ng-click="myGoBack()">
                <span k="ត្បូងឃ្មុំ">Tboung Khmum</span>
                <span id="Tboung Khmum" class="fa fa-check"></span>
            </li>
            

        </ul>        
    </ion-content>
</ion-view>
<script>
    la();
    load('delivery_to');
    //load('language');
</script>