<div class"app-header">
    <div class="header-title" k="មតិយោបល់">Feedback</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <div class="fb">
            <center k="សូមអរគុណសំរាប់មតិកែលម្អ">Tell us what we could do better</center>
            <textarea id="message"></textarea>
            <div class="btn" onclick="submitFeedback()" k="បញ្ជូន">Submit</div>
        </div>
    </ion-content>
</ion-view>
<script>
    la():
    function submitFeedback() {
        var message = $('#message').val();
        $.post('http://www.nekoten.khmerqq.com/app/feedback.php', {message:message}, function(data){
            if (data == 'success') {
                $('#message').text('');
                alert('Thank you for your feedback!'); 
                $('.back').click();
            }
        });
    }
</script>