<div class"app-header">
    
    <form class="search-bar" onsubmit="submitSearchForm('search-home');">
        <i class="icon ion-search"></i>
        <input id="search-home" k="ខ្ញុំកំពុងស្វែងរក ..." onkeyup="searchKeyword('home')" onclick="searchClick()" placeholder="I'm shopping for ..." class="search">
    
        <span onclick="cancelClick()" class="cancel" k="បិទ">Cancel</span>
    </form>
    <ul class="search-form">
        
    </ul>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content on-scroll-complete="onComplete()">
    <input id="data" type="hidden">
    <input id="start" type="hidden" value="0">
    <input id="all" type="hidden" value="0">
    
        <div class="home">
            <div class="home-slider owl-carousel owl-theme">
                <img src="img/slide-1.jpg">
                <img src="img/slide-2.jpg">
                <img src="img/slide-3.jpg">
            </div>
            
            
            <ul class="cate owl-carousel owl-theme" id="cate">
            
            </ul>
            <script> 
            $('.home-slider').owlCarousel({
                loop:true,
                margin:10,
                autoplay:true,
                autoplayTimeout:5000,
                autoplayHoverPause:true,
                responsive:{
                    0:{
                        items:1
                    }
                }
            });
            
            </script>
            <div class="hr"></div>
            <div class="wrap">
                <div class="new-arrival">
                    <h3 k="ទំនិញមកដល់ថ្មី">New Arrival</h3>
                </div>                
                <ul id="new_arrival">
                    
                <ul>
                
            </div>
        </div>
        
    </ion-content>
</ion-view>

<script>    
    
    var size = $(window).width();        
    $.post('http://www.nekoten.khmerqq.com/app/new_arrival.php',{size:size},function(data){
        $('#data').val(data);  
        $('#all').val(JSON.parse(data).length);
        loadMore();
    });
    
    function loadMore(){        
                
        var start = parseInt($('#start').val(), 10);
        var all = parseInt($('#all').val(), 10);
        
        var end = start + 12;        
        if (end >= all) end = all;
        
        if (start < end) {
            var size = $(window).width();
            var a_wh = (size-30)/2;        
            var data = $('#data').val();                
            var arr = JSON.parse(data);   
            
            for (var i = start; i < end; i++){            
                var ad = arr[i];            
                var ad_id = ad['ad_id'];  
                
                var str = '<ion-item onclick="loadProduct(\''+ad_id+'\');" class="ad-item">';
                    str += '<div class="b" style="width:'+a_wh+'px;height:'+a_wh+'px">';
                        str += '<img style="width:'+ad['width']+'; height:'+ad['height']+'; margin-'+ad['margin']+':'+ad['margin-px']+'px" src="http://www.nekoten.khmerqq.com/ads/'+ad['ad_id']+'/1_m.jpg">';
                    str += '</div>';
                    str += '<div class="a">';
                        str += '<span>'+ad['price']+'</span>';
                        str += '<span>'+ad['n_order']+' <span k="កម្មង់">order</span></span>';
                    str += '</div>';
                str += '</ion-item>';
                
                $('#new_arrival').append(str);
            }  
            la();                           
            $('#start').val(end);
        }
    }

    
    

    //getLocation();
    
    $.post('http://www.nekoten.khmerqq.com/app/category.php',{},function(data){
        var cate = JSON.parse(data);
        for (var i = 0; i < cate.length; i++){
            var c = cate[i];            
            $('#cate').append('<li><div><span class="fa '+c['fa']+'"></span></div><div k="'+c['name_kh']+'">'+c['name_en']+'</div></li>');
            
        }
        $('#cate').owlCarousel({
                margin:10,
                responsive:{
                    0:{
                        items:5
                    }
                }
            });
        la();
            
    });
    

</script>