<div class"app-header">
    <div class="header-title" k="ភាសា">Language</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr">
            <ion-item onclick="setLang('en')">
                <span>English</span>
                <span id="en" class="fa fa-check"></span>
            </ion-item>
            <ion-item onclick="setLang('kh')">
                <span>ភាសាខ្មែរ</span>
                <span id="kh" class="fa fa-check"></span>
            </ion-item>            
        </ul>        
    </ion-content>
</ion-view>
<script>  
    la();
    load('language');
    function setLang(lang){
        var lang_now = localStorage.getItem('language');
        if (lang == lang_now) return false;
        localStorage.setItem('language', lang); 
        window.location.href='index.html';
    }
</script>