<div class"app-header">
    <div class="header-title" k="ភាសា">Language</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <ul class="mr">
            <li onclick="localStorage.setItem('language', 'en'); window.location.href='index.html'">
                <span>English</span>
                <span id="en" class="fa fa-check"></span>
            </li>
            <li onclick="localStorage.setItem('language', 'kh'); window.location.href='index.html'">
                <span>ភាសាខ្មែរ</span>
                <span id="kh" class="fa fa-check"></span>
            </li>            
        </ul>        
    </ion-content>
</ion-view>
<script>  
    la();
    load('language');
</script>