<div class"app-header">
    <div class="header-title" k="ផ្សេងទៀត">More</div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>        
        <ul class="mr">
            <li onclick="load('delivery_to'); window.location.href='#tab/delivery_to/';">            
                <span k="ដឹកទៅកាន់">Deliver to</span>
                <span class="fa fa-angle-right"></span>
                <span class="a" id="delivery_to"></span>
            </li>
            <li onclick="load('language'); window.location.href='#tab/language/';">
                <span k="ភាសា">Language</span>
                <span class="fa fa-angle-right"></span>
                <span class="a" id="language">English</span>
            </li>
        </ul>
        <div class="hr"></div>
        <ul class="mr">
            <li onclick="window.location.href='#tab/help_center/';">
                <span k="ជំនួយ">Help Center</span>
                <span class="fa fa-angle-right"></span>
            </li>
        </ul>
        <div class="hr"></div>
        <ul class="mr">
            <li onclick="window.location.href='#tab/feedback/';">
                <span k="មតិយោបល់">Feedback</span>
                <span class="fa fa-angle-right"></span>
            </li>
            <li onclick="window.location.href='#tab/contact_us/';">
                <span k="ទាក់ទងយើងខ្ញុំ">Contact Us</span>
                <span class="fa fa-angle-right"></span>
            </li>
            <li onclick="window.location.href='#tab/about_us/';">
                <span k="អំពីយើងខ្ញុំ">About Us</span>
                <span class="fa fa-angle-right"></span>
            </li>
            
        </ul>
        <div class="footer">
            <div class="a"><img src="img/nekoten.png"></div>
            <div class="b">Version 1.0</div>
            <div class="c">2017 Nekoten.com.<br>All rights reserved</div>
        </div>
        
  </ion-content>
</ion-view>
<script>
    la();
    
    function load(page){    
        
        $('.mr .fa-check').hide();
        var a = localStorage.getItem(page);
        if (typeof a !== 'undefined' && a !== null){        
            if (page == 'language'){
                var a = localStorage.getItem(page);        
                $(".mr [id='"+a+"']").show();                           
                if (a == 'en') a = 'English';
                else a = 'ភាសាខ្មែរ';
                $('.mr #'+page).text(a);        
            } else if (page == 'delivery_to'){               
                var en = localStorage.getItem('delivery_to').split(',')[0];
                var kh = localStorage.getItem('delivery_to').split(',')[1];                
                if (localStorage.getItem('language') == 'en'){                
                    $(".mr [id='"+en+"']").show();                      
                    $('.mr #'+page).text(en);            
                } else {
                    $(".mr [id='"+en+"']").show();                      
                    $('.mr #'+page).text(kh);      
                }
            }                  
        } else {
            //alert(localStorage.getItem(page));
            if (page == 'delivery_to') {
                $(".mr [id='Phnom Penh']").show();                       
                $('.mr #delivery_to').text('Phnom Penh');
            } else {
                $(".mr [id='English']").show();                       
                $('.mr #language').text('English');
            }
        }  
    }

    load('delivery_to');
    load('language');
</script>