<div class"app-header">
    <div class="header-title">Order</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>  
        <script>
            /*
            <button onclick="updateLocation()">Turn on my GPS</button>
        <input id="numberTxt" placeholder="Enter mobile number" value="" type="tel" />
        <textarea id="messageTxt" placeholder="Enter message"></textarea>
        <input type="button" onclick="app.sendSms()" value="Send SMS" />
        adsjsdj
            */
        </script>
        
        
    </ion-content>

</ion-view>
<script>       
   
</script>