
<div class="app-header">
    <div class="header-title">Order List</div>
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>  
        <ion-refresher on-refresh="refresh('order_list')"></ion-refresher>        
        <div id="order_list">
        
        </div>
        
        
        <script>/*
            <li class="item item-complex" onclick="openModal('order_modal')">
                <a class="item-content">
                    <div class="c">
                        <span class="delivery_time">Today, 9:00 ~ 10:00</span>
                        <span class="cc">#12</span>
                    </div>
                    <div class="a">                        
                        <span class="name">Nealeka</span>
                        <span class="address">No. 50, St. 172, Phnom Penh</span>                                                                            
                    </div>
                    <div class="b">
                        <span class="price">$ 15</span> (<span class="item_count">3<span> items)
                        <span class="distance">~2 km</span>
                    </div>
                    <div class="ion-arrow-down-c"></div>
                    <div class="a">                        
                        <span class="name">Vong Virak</span>
                        <span class="address">No. 43, Mao Tse Toung Blvd, Phnom Penh</span>                                                                            
                    </div>
                    <div class="b">
                        <span class="price">$ 18</span> (<span class="item_count">3<span> items)
                        <span class="distance">~1.1 km</span>
                    </div>
                    <span class="ion-ios-arrow-right"></span>
                </a>
            </li>
            */</script>
        
    </ion-content>

</ion-view>
<script>     
    loadOrderList('');
</script>