<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="back" ng-click="myGoBack()" onclick="$('#ad_image').html('');$('#product_body').hide()">
            <span class="ion-ios-arrow-left"></span>
        </div>
        
        <div id="ad_images">
            <div class="home-slider owl-carousel owl-theme" id="ad_image">
                
            </div>
            <div class="wishlist-btn">
                <span class="fa fa-heart"></span>    
            </div>
        </div>
        
        <div id="product_body" style="display:none">
        
            <input id="ad_id" type="text" style="display:none">
            <div class="w" id="title"></div>
            <div class="pp">
                
                <span id="price"></span>
                <span id="normal_price"></span>
                <span id="discount"></span>
                <span id="quantity"></span>
            </div>
            <div class="ii">
                <div class="a">
                    <div class="b" id="rate"></div>
                    <div class="c" id="review"></div>
                </div>
                <div class="a">
                    <div class="b" id="n_order"></div>
                    <div class="c" k="កម្មង់">Order</div>
                </div>
                <div class="a">
                    <div class="b" id="view"></div>
                    <div class="c" k="មើល">View</div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="dt">
                <div class="c">
                    <div class="a" k="ដឹកទោកាន់">Deliver to</div>
                    <div class="b">
                        <select id="location">
                            
                        </select>
                    </div>
                </div>
                <div class="c">
                    <div class="a" k="ថ្លៃដឹកជញ្ជូន">Delivery fee</div>
                    <div id="delivery_fee">Free</div>
                </div>
                <div class="c">
                    <div class="a" k="ទទួលទំនិញ">Recieve product</div>
                    <div id="delivery_time"></div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="at">
            <div class="a">
                <div class="b" k="បរិមាណ">Quantity</div>
                <div class="c">
                    <span class="d fa fa-minus" onclick="qtyMinus()"></span>
                    <input class="e" id="qty" type="text" value="1">
                    <span class="f fa fa-plus" onclick="qtyPlus()"></span>
                </div>
            </div>
        </div>
        <div class="bt">
            <span class="h" k="សួរសំនួរ">Ask Question</span>
            <span class="i" k="ដាក់ចូលកន្ត្រក" onclick="addToCart()">Add to Cart</span>
        </div>
        <div class="hr"></div>
        <div class="pd">
            <div class="a" k="ការពិពណ៌នាអំពីផលិតផល">Product Description</div>
            <div class="b" id="desc"></div>
        </div>
        <div class="hr"></div>
        <div class="qs" onclick="alert('hi'); window.location.href='#tab/question'">
            <div class="a" k="សំនួរ និង ចម្លើយ">Question (<span id="n_question">0</span>)</div>
            <div id="question">
            
            </div>
        </div>
        <div class="hr"></div>
        <div class="ra">
            <div class="a" k="ផលិតផលស្រដៀងគ្នា">Related Products</div>
            <div class="b">
            
            </div>
        </div>
        
    </ion-content>
</ion-view>
<script>
    la();
    
    function addToCart(){
        
        var ad_id = $('#product_body #ad_id').val();
        var qty = parseInt($('.at #qty').val(), 10);
        var opt = 0;

        var a = localStorage.getItem('shopping_cart');

        if (a == '' || a == null){
            var b = ','+ad_id+':'+opt+':'+qty;
        } else {
            var b = '';
            var added = 0;
            var c = a.split(',');
            for (var i = 1; i < c.length; i++){
                if (c[i].split(':')[0] == ad_id && c[i].split(':')[1] == opt){
                    b += ','+ad_id+':'+opt+':'+(parseInt(c[i].split(':')[2], 10)+qty);
                    added = 1;
                } else {
                    b += ','+c[i];
                }
            }
            if (!added) b = ','+ad_id+':'+opt+':'+qty+b;
        }
        localStorage.setItem('shopping_cart', b);
        loadCart();
        alert('Added to Cart!');
        
    }
        
    function qtyPlus(){
        if ($('#qty').val() < 10) {
            $('#qty').val(parseInt($('#qty').val(), 10)+1);
        }
    }
    function qtyMinus(){
        if ($('#qty').val() > 1) {
            $('#qty').val(parseInt($('#qty').val(), 10)-1);
        }
    }
</script>