<div class"app-header">
    <div class="header-title" k="បញ្ជាក់ការកម្មង់">Review Order</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>

    <!-- Choose Location Small Modal -->
    <div class="sm-modal" id="choose_location">
        <div class="shadow"></div>
        <div class="header-title" k="ជ្រើសរើសខេត្តក្រុង">Choose City / Province</div>
        <div class="back" onclick="closeSmallModal('choose_location')">
            <span class="close ion-ios-close-empty"></span>
        </div>                        
        <ion-content class="sm-modal-body">
        <ul id="choose_location_ul">
            
        </ul>
        </ion-content>
    </div>
    <!-- /Choose Location Modal -->
    
    <!-- Choose Khan Small Modal -->
    <div class="sm-modal" id="choose_khan">
        <div class="shadow"></div>
        <div class="header-title" k="ជ្រើសរើសខណ្ឌ">Choose Khan</div>
        <div class="back" onclick="closeSmallModal('choose_khan')">
            <span class="close ion-ios-close-empty"></span>
        </div>                        
        <ion-content class="sm-modal-body">
        <ul id="choose_khan_ul">
            
        </ul>
        </ion-content>
    </div>
    <!-- /Choose Location Small Modal -->
    
    <!-- Choose Khan Small Modal -->
    <div class="sm-modal" id="choose_khan">
        <div class="shadow"></div>
        <div class="header-title" k="ជ្រើសរើសថ្ងៃនិងម៉ោង">Choose Date and Time</div>
        <div class="back" onclick="closeSmallModal('choose_khan')">
            <span class="close ion-ios-close-empty"></span>
        </div>                        
        <ion-content class="sm-modal-body">
        <ul id="choose_khan_ul">
            
        </ul>
        </ion-content>
    </div>
    <!-- /Choose Location Small Modal -->
    
    <!-- Choose Khan Small Modal -->
    <div class="sm-modal" id="choose_day_time">
        <div class="shadow"></div>
        <div class="header-title" k="ជ្រើសរើសថ្ងៃនិងម៉ោង">Choose Date and Time</div>
        <div class="back" onclick="closeSmallModal('choose_day_time')">
            <span class="close ion-ios-close-empty"></span>
        </div>                        
        <ion-content class="sm-modal-body" style="padding:20px 10px">
            <div class="yo">
                <ul id="choose_day_ul" class="a">
                    
                </ul>
                <ul id="choose_time_ul" class="b">
                   
                </ul>
            </div>
            <button class="c" k="យល់ព្រម" onclick="setScheduleDate()">Okay</button>
           
        </ion-content>
    </div>
    <!-- /Choose Location Small Modal -->
    
    
    
    
   
<!-- Payment Method Modal -->
<div id="payment_method_modal" class="modal">
    <div class="header-title" k="របៀបបង់បា្រក់">Payment Method</div>
    <div class="back" onclick="closeModal('payment_method_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="uu">
        <div class="a item item-complex" onclick="selectPaymentMethod('cash_on_delivery')">
            <a class="item-content">
                <div class="b" k="បង់ប្រាក់ពេលទទួលទំនិញ" id="cash_on_delivery">Cash on Delivery</div>
                <div class="c">
                    <span k="បង់ប្រាក់ពេលលោកអ្នកបានទទួលទំនិញរួចរាល់">Pay when you receive the product</span>
                </div>
            </a>
        </div>
        
        <div class="a item item-complex" onclick="selectPaymentMethod('transfer_money')">
            <a class="item-content">
                <div class="b" k="ផ្ញើរប្រាក់តាមទូរស័ព្ទ">Transfer money</div>
                <div class="c payment" id="transfer_money">
                    <span k="ផ្ញើរប្រាក់តាម">Transfer money via</span>
                    <img class="d" src="img/wing.jpg"/>
                    <img class="e" src="img/true_money.jpg">
                    <img class="f" src="img/emoney.jpg">
                </div>
            </a>
        </div>
        
    </div>
</div>
<!-- /Delivery Time Modal -->


    
<!-- Delivery Modal Modal -->
<div id="delivery_time_modal" class="modal">
    <div class="header-title" k="ម៉ោងដឹកជញ្ជូន">Delivery Time</div>
    <div class="back" onclick="closeModal('delivery_time_modal')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="uu">
        <div class="a item item-complex" onclick="selectDeliveryType('express')">
            <a class="item-content">
                <div class="b" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                <div class="c">
                    <span k="ទទួលទំនិញ" id="express_delivery_type">Recieve Product</span>
                    <span id="express_delivery_day">Today</span>, 
                    <span id="express_delivery_time">10:00 - 11:00</div>
            </a>
        </div>
        <div class="a item item-complex"onclick="openSmallModal('choose_day_time')">
            <a class="item-content">
                <div class="b" id="schedule_delivery_type" k="ដឹកជញ្ជូនក្នុងពេលកំណត់">Schedule Delivery</div>
                <div class="c">
                <span k="កំនត់ថ្ងៃនិងម៉ោងទទួលទំនិញ">Set date and time to recieve product</span>
            </div>
            </a>
        </div>
    </div>
</div>
<!-- /Delivery Time Modal -->


    
<!-- Shipping Info Modal -->
<div id="shipping_info" class="modal">
    <div class="header-title" k="អាស័យដ្ឋានដឹកជញ្ជូន">Delivery Address</div>
    <div class="back" onclick="closeModal('shipping_info')">
        <span class="close ion-ios-close-empty"></span>
    </div>
    <div class="lg">
        <div class="c">
            <form id="shipping_info_form">
                <div class="d">
                    <div class="e"><span class="ion-ios-person-outline"></span></div>
                    <div class="f"><input id="name" k="ឈ្មោះ" placeholder="Name" type="text">
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">
                    <div class="e"><span class="ion-ios-telephone"></span></div>
                    <div class="f"><input id="phone_number" k="ទូរស័ព្ទ" placeholder="Phone Number" type="number" pattern="\d*">
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">
                    <div class="e"><span class="ion-ios-location-outline"></span></div>
                    <div class="f"><span id="location" class="f2" onclick="openSmallModal('choose_location')">Phnom Penh</span></div>
                    <div class="f1"><span class="fa fa-angle-right"></span></div>                                                    
                </div>
                <div class="d">                    
                    <div class="f"><input id="home_address" k="ផ្ទះលេខ / ឈ្មោះហាង / ឈ្មោះក្រុមហ៊ុន" placeholder="House Number / Shop Name / Company Name">
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">                    
                    <div class="f"><input id="stress_address" k="ផ្លូវ" placeholder="Street Address">
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                 <div class="d">                    
                    <div class="f"><input id="sangkat" k="សង្កាត់" placeholder="Sangkat / District">
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="d">
                    <div class="f"><span id="khan" class="f2 f3" onclick="openSmallModal('choose_khan'); $(this).removeClass('f3');">Khan</span></div>
                    <div class="f1"><span class="fa fa-angle-right"></span></div>                                                    
                </div>
                <div class="d">                    
                    <div class="f"><input id="near_by" k="នៅជិត / នៅទល់មុខ / នៅម្តុំ" placeholder="Near ... / In front of ... "></div>
                        <span style="display:none" class="input-close ion-ios-close-outline"></span>
                    </div>
                </div>
                <div class="g">
                    <button type="submit" onclick="postAddress()" k="ផ្ញើរមកកាន់អាស័យដ្ឋាននេះ">Deliver to this Address</button>               
                </div>
            </form>
        </div>            
    </div>      
</div>
<!-- /Shipping Info Modal -->

<!-- ******************************************************************** -->

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content id="order">
        
        
        <div class="eq">
            <div class="a" k="អាស័យដ្ឋានដឹកជញ្ជូន">Delivery Address</div>
            <div id="shipping_addr" class="item item-complex">
                
            </div>
            <div class="b item item-complex" id="add_address" onclick="openModal('shipping_info')">
                <a class="item-content">
                    <span class="c" k="បន្ថែមអាស័យដ្ឋាន">Add an address</span>
                </a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="et">
            <div class="a item item-complex" onclick="openModal('delivery_time_modal')">
                <a class="item-content">
                    <div class="b" id="delivery_type" k="ដឹកជញ្ជូនរហ័ស">Express Delivery</div>
                    <div class="c">
                        <span k="ទទួលទំនិញ">Receive Product</span>
                        <span id="delivery_day">Today</span>
                        <span id="delivery_time">08:00 - 09:00</span>    
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="et">
            <div class="a item item-complex" onclick="openModal('payment_method_modal')">
                <a class="item-content">
                    <div class="b" k="របៀបបង់ប្រាក់">Payment Method</div>
                    <div class="c payment">
                        <span class="ion-cash"></span> 
                        <span id="payment_method" k="បង់ប្រាក់ពេលទំនិញដល់ដៃ">Cash on Delivery</span>
                    </div>
                    <div class="fa fa-angle-right"></div>
                </a>
            </div>
        </div>
        
        <div class="hr"></div>
        <div class="wrap">
            <ul class="cart">
                
            <ul>
        </div>  
        <div class="hr"></div>
        <div class="tp">
            
            <input id="msg_seller" placeholder="Message to the seller (Optional)" k="សារសំរាប់អ្នកលក់ (មិនបំពេញក៏បាន)"
            <span class="input-close ion-ios-close-outline"></span>
             
            <div class="a">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="b">
                 <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="c"></div>
            <div class="d">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
        </div>
       
    </ion-content>
    <div class="cart-footer">
        
        <div class="e" id="summary" style="display:none">
            <div class"ff">
                <span class="ion-ios-close-empty" onclick="$('.cart-footer #summary').hide()"></span>
                <center k="តម្លៃ">Summary</center>
            </div>            
            <div class="g">
                <span k="សរុបទំនិញ">Subtotal</span> (<span class="cart_count"></span> <span k="មុខ">item</span>)
                <span class="subtotal"></span>
            </div>
            <div class="g">
                <span k="ថ្លៃដឹកជញ្ជូន">Delivery Fee</span>
                <span class="delivery_fee"></span>
            </div>
            <div class="g h">
                <span k="សរុប">Total</span>
                <span class="total"></span>
            </div>
                
        </div>
        <div class="a" onclick="$('.cart-footer #summary').toggle()">
            <div class="aa">
                <div class="b"><span k="តម្លៃសរុប">Total</span></div>
                <div class="c"><span class="ion-arrow-down-b"></span></div>
            </div>
            <div class="ab"><span class="total"></span></div>
        </div>
        <div class="d" k="បញ្ជាទិញ" onclick="window.location.href='#tab/review_order/'">PLACE ORDER</div>
    </div>
    
</ion-view>
<script>
    la();  
    loadCart();
    
    function postAddress(){
        var user_id = localStorage.getItem('user_id');
        var name = $('#shipping_info_form #name').val();
        var phone_number = $('#shipping_info_form #phone_number').val();
        var location = $('#shipping_info_form #location').text();
        var house = $('#shipping_info_form #home_address').val();
        var street = $('#shipping_info_form #stress_address').val();
        var sangkat = $('#shipping_info_form #sangkat').val();
        var khan = $('#shipping_info_form #khan').text();
        var near_by = $('#shipping_info_form #near_by').val();
        var coordinate = '123';
        
        //alert(name+phone_number+location+house+street+sangkat+khan+near_by+coordinate);
        
        $.post('http://www.nekoten.khmerqq.com/app/post_address.php', {user_id:user_id, name: name, phone_number:phone_number, location:location, 
        house:house, street:street, sangkat:sangkat, khan:khan, near_by:near_by, coordinate:coordinate},
        function(data){
            
            if (data == 'success'){
                var str = '<a class="item-content"><b>'+name+'</b><br>';
                str += house+' '+street+'<br>';
                str += sangkat+' '+khan+'<br>';
                str += location+'<br>';
                str += '<span class="ion-ios-telephone-outline"> '+phone_number+'</span></a>';
                $('.eq #shipping_addr').html(str);
                closeModal('shipping_info');
            }
        });
        
        
    }
    /*
    var name = '1';
    var house = '2';
    var street = '3';
    var sangkat = '4';
    var khan = '5';
    var phone_number = '6';
    
    
    var str = '<a class="item-content"><b>'+name+'</b><br>';
                str += house+' '+street+'<br>';
                str += sangkat+' '+khan+'<br>';
                str += location+'<br>';
                str += '<span class="ion-ios-telephone-outline"> '+phone_number+'</span></a>';
                $('.eq #shipping_addr').html(str);
                closeModal('shipping_info');
        */
    $.post('http://www.nekoten.khmerqq.com/app/location.php',{}, function(data){
        var arr = JSON.parse(data);
        for (var i = 0; i < arr.length; i++){
            var a = arr[i];
            var str = '<li onclick="selectLocation(\''+a['name_en']+'\')">';
                str += '<span k="'+a['name_kh']+'">'+a['name_en']+'</span>';
                str += '<span class="price-li">$ '+a['price']+' </span>';
            str += '</li>';
            $('#choose_location_ul').append(str); 
        }
        load('delivery_to');
        la();
    });
    
    
    $.post('http://www.nekoten.khmerqq.com/app/shipping_info.php',{user_id:localStorage.getItem('user_id')}, function(data){
        var a = JSON.parse(data)[0];
        if (a['result'] == 'success'){
            $('.eq #add_address').hide();
            var str = '<a class="item-content"><b>'+a['name']+'</b><br>';
            str += a['house']+' '+a['street']+'<br>';
            str += a['sangkat']+' '+a['khan']+'<br>';
            str += a['location']+'<br>';
            str += '<span class="ion-ios-telephone-outline"> '+a['phone_number']+'</span></a>';
            $('.eq #shipping_addr').html(str);
        }
       
    });
    
    $.post('http://www.nekoten.khmerqq.com/app/khan.php',{}, function(data){
        var arr = JSON.parse(data);
        for (var i = 0; i < arr.length; i++){
            var a = arr[i];
            var str = '<li onclick="selectKhan(\''+a['name_en']+'\')">';
                str += '<span k="'+a['name_kh']+'">'+a['name_en']+'</span>';
            str += '</li>';
            $('#choose_khan_ul').append(str); 
        }
        //load('delivery_to');
        la();
    });
    
    
    $('#shipping_info_form input').on('keyup click', function(){
        if ($(this).val() != '') {
            $(this).siblings('.input-close').show();
        }
    });
    $('#shipping_info_form input').on('blur', function(){
            $(this).siblings('.input-close').hide();
    });
    $('#shipping_info_form .input-close').on('click', function(){
        $(this).hide();
        $(this).siblings('input').val('');
    });
    
    function closeModal(page){        
        $('#'+page).hide();
        $('.header-view').show();        
        $('.tab-nav').show();
    }
    function closeSmallModal(page){        
        $('#'+page).hide();
    }
    
    function openModal(page){
        $('#'+page).height($(window).height());
        $('#'+page).addClass('modal');
        $('#'+page).show();
        $('.header-view').hide();        
        $('.tab-nav').hide();        
        //StatusBar.hide();
    }
    
    function openSmallModal(page){
        $('#'+page).height($(window).height());
        $('#'+page).addClass('modal');
        $('#'+page).show();
        $('.header-view').hide();        
        $('.tab-nav').hide();        
        //StatusBar.hide();
    }
    
    function selectLocation(location){
        closeSmallModal('choose_location');
        $('#shipping_info_form #location').text(location);
        $('#shipping_info_form #location').attr('k', location);
        la();
    }
    function selectKhan(khan){
        closeSmallModal('choose_khan');
        $('#shipping_info_form #khan').text(khan);
        $('#shipping_info_form #khan').attr('k', khan);
        la();
    }
    function selectDeliveryType(type){
        closeModal('delivery_time_modal');
        $('#order #delivery_type').text($('#delivery_time_modal #'+type+'_delivery_type').text());
        $('#order #delivery_time').text($('#delivery_time_modal #'+type+'_delivery_time').text());
        $('#order #delivery_day').text($('#delivery_time_modal #'+type+'_delivery_day').text());
    }
    
    function selectPaymentMethod(type){
        closeModal('payment_method_modal');
        $('#order #payment_method').html($('#payment_method_modal #'+type).html());
    }
        
    var lang = localStorage.getItem('language');
    $.post('http://www.nekoten.khmerqq.com/module/date_select.php',{lang:lang}, function(data){
        a = JSON.parse(data);
        for (var i = 0; i < a.length; i++){
            var str = '<li value="'+a[i]['val']+'"';
            if (i == 0) str += ' class="selected" ';
            str += 'onclick="selectDayTime(\'day\', \''+a[i]['val']+'\')">';
            str += a[i]['txt'];
            str += '</li>';
            $('.yo #choose_day_ul').append(str);
        }
    });
    
    
    var chosen_date = 'Today';
    $.post('http://www.nekoten.khmerqq.com/module/time_select.php',{lang:lang, chosen_date:chosen_date}, function(data){
        a = JSON.parse(data);
        for (var i = 0; i < a.length; i++){
            var str = '<li value="'+a[i]+'"';
            if (i == 0) str += ' class="selected" ';
            str += 'onclick="selectDayTime(\'time\', \''+a[i]+'\')">';
            str += a[i];
            str += '</li>';
            $('.yo #choose_time_ul').append(str);
        }
        
    });
    
   function selectDayTime(type, val){
       $('#choose_'+type+'_ul li').removeClass('selected');
       $('#choose_'+type+'_ul li[value="'+val+'"]').addClass('selected');
   }
   

    function setScheduleDate(){
        closeModal('delivery_time_modal');
        closeSmallModal('choose_day_time');
        $('.et #delivery_day').text($('.yo #choose_day_ul [class="selected"]').text());
        $('.et #delivery_time').text($('.yo #choose_time_ul [class="selected"]').text());
    }

   
</script>

