<div class"app-header">
    <div class="header-title" k="ចូលគណនី">Sign In</div>
    <div class="back" ng-click="myGoBack()">
        <span class="close ion-ios-close-empty"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>  
        <div class="lg">
            <div class="a">
                <button><span class="fa fa-facebook-official"></span> <span k="ចូលគណនីតាម Facebook">Sign in with Facebook</span></button>                
            </div>
            <div class="b">_______________OR_______________</div>
            <div class="c">
                <form id="sign_in_form">
                    <div class="d">
                        <div class="e"><span class="ion-ios-telephone"></span></div>
                        <div class="f"><input id="phone_number" k="ទូរស័ព្ទ" placeholder="Phone Number" type="number" pattern="\d*">
                            <span style="display:none" class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="d">
                        <div class="e"><span class="ion-ios-locked"></span></div>
                        <div class="f"><input id="password" k="លេខសំងាត់" placeholder="Password" type="password">
                            <span style="display:none" class="input-close ion-ios-close-outline"></span>
                        </div>
                    </div>
                    <div class="g">
                        <button type="submit" k="ចូលគណនីតាមលេខទូរស័ព្ទ">Sign in with Phone Number</button>
                    </div>
                </form>
            </div>
            <div class="h" k="ភ្លេចលេខទូរស័ព្ទ">Forget Password?</div>
            <div class="i" k="គ្មានគណនីនៅឡើយ?">Don't have Account yet? <a href="#tab/register" k="ចុះឈ្មោះឥឡូវនេះ">Register now</a></div>
        </div>
  </ion-content>
</ion-view>
<script>    
    la();
    $('#sign_in_form input').on('keyup click', function(){
        if ($(this).val() != '') {
            $(this).siblings('.input-close').show();
        }
    });
    $('#sign_in_form input').on('blur', function(){
            $(this).siblings('.input-close').hide();
    });
    $('#sign_in_form .input-close').on('click', function(){
        $(this).hide();
        $(this).siblings('input').val('');
    });
    $("#sign_in_form").submit(function(e){
        var phone = $('#sign_in_form #phone_number').val();
        var password = $('#sign_in_form #password').val();
        if (phone.length == 0) {
            alert('Please enter your phone number.');
        } else if (password.length == 0) {
            alert('Please enter your password.');
        } else {
            $.post('http://www.nekoten.khmerqq.com/app/sign_in.php',{phone:phone, password:password},function(data){
                
                var a = JSON.parse(data);
                
                if (a['result'] == 'success'){
                    localStorage.setItem('user_id', a['user_id']);
                    localStorage.setItem('full_name', a['full_name']);
                    localStorage.setItem('phone_number', a['phone_number']);
                    alert('Signed in');
                } else if (a['result'] == 'phone') {
                    alert('Account does not exist.');    
                }  else if (a['result'] == 'password') {
                    alert('Password is incorrect.');    
                }
                
            });
        }        
    });
</script>