<div class"app-header">
    <div class="header-title">Register Store</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>    
</div>

<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Nekoten Online Shop">
            </label>            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="nekoten">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="123" value="123">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Facebook Url</span>
                <input type="text" placeholder="https://www.facebook.com/bizcambo">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="No 12, St 142, Phnom Penh">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="137.3214454354,45.123445454">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="011123456">
            </label>            
        </div>
    </ion-content>
</ion-view>
