<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Order" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/order">
    <ion-nav-view name="order"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>  
  <ion-tab title="Action" icon-off="ion-ios-toggle-outline" icon-on="ion-ios-toggle" href="#/tab/action">
    <ion-nav-view name="action"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>
</ion-tabs>

<!-- Order Modal -->
<div id="order_modal" class="modal">
    <div class="header-title">Order #<span id="order_id"></span></div>
    <div class="back">
        <span ontouchstart="closeModal('order_modal')" class="close ion-ios-close-empty"></span>
        <span ontouchstart="openActionMenu('order_action')" class="ion-ios-more-outline"></span>
    </div>
    <ion-content class="sm-modal-body">
        <ion-refresher on-refresh="refresh('order')"></ion-refresher>
        
        <div id="order">
            
        </div>            
    </ion-content>
    <div class="modal-footer hj">
        <span class="a">Today, 9:00 ~ 10:00</span>
        <button>Bought from seller</button> 
    </div>
</div>
<!-- /Order Modal -->

<!-- Gas Ticket Modal -->
<div id="gas_ticket_modal" class="modal">
    <div class="header-title">Create New Gas Ticket</span></div>
    <div class="back">
        <span onclick="closeModal('gas_ticket_modal')" class="close ion-ios-close-empty"></span>        
    </div>
    <ion-content class="sm-modal-body">        
        
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" id="description" placeholder="Ex: Buy Power Bank">
            </label>                    
            <label class="item item-input item-stacked-label" id="start_input">
                <span class="input-label">Start Coordinate</span>
                <input type="text" id="start">
            </label>            
            <label class="item item-input item-stacked-label" id="end_input">
                <span class="input-label">Start Coordinate</span>
                <input type="text" id="start">
            </label>  
        </div>            
             
        <div class="pd">
            <button id="gas_ticket_btn" class="btn">Create</button>
        </div>
        
    </ion-content>    
</div>
<!-- /Gas Ticket Modal -->


<!-- Store Modal -->
<div class="modal" id="store_modal">
    <div class="back">
        <span class="close ion-ios-close-empty" onclick="closeModal('store_modal')"></span>
    </div>
    
    <div class="no-tabs ion-content" id="product_page_content"> 
        <div id="store" class="st">
            <div class="a">
                <img id="timeline_pic" src="img/default_timeline_pic.jpg">
            </div>
            <div class="b">
                <div class="c">
                    <img id="profile_pic" src="">
                </div>
                <div class="d">
                    <div class="e" id="name"></div>
                    <div class="f">
                        <div class="g"><span id="n_product">0</span> <span class="h" k="ទំនិញ">Product</span></div>
                        <div class="g"><span id="n_order">0</span> <span class="h" k="កម្មង់">Order</span></div>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="tb tb-2" id="store_tab" style="margin-bottom:20px">
                <div class="a active" opt="info">            
                    <span class="c">Info</span>
                </div>
                <div class="a" opt="product">            
                    <span class="c">Product</span>
                </div>
            </div>
            <script>
                $('#store_tab .a').on('click', function(){                    
                    $('#store_tab .a').removeClass('active');
                    $(this).addClass('active');                    
                    $('.tab-content').hide();
                    $('#tab_'+$(this).attr('opt')).show();
                });    
            </script>
            <div class="kl tab-content" id="tab_info">
                <div class="a">
                    <span class="b ion-ios-location"></span>
                    <span class="c" onclick="openMap($(this).text())" id="address"></span>
                </div>
                <div class="a">
                    <span class="b ion-ios-navigate"></span>
                    <span class="c" onclick="openCoordinate($(this).text())" id="coordinate"></span>
                </div>
                <div class="a">
                    <span class="b ion-social-facebook"></span>
                    <a class="c" onclick="openUrl($(this).text())" id="facebook"></a>
                </div>
                <div class="a">
                    <span class="b ion-ios-telephone"></span>
                    <span class="c" id="phone_number"></span>
                </div>
                
                <button class="btn">Edit Shop Info</button>    
                
                
            </div>
            
            <div class="ip tab-content hide" id="tab_product">
                <div class="new-arrival">
                    <h3 k="ទំនិញក្នុងហាង">Product in this Store</h3>
                </div>  
                <div id="store_products">
                                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Store Modal -->




<!-- ms-alert -->
<div class="ms-alert" id="alert">
    <div class="ms-alert-body">
        <div class="ms-alert-header"></div>            
        <div class="ms-alert-buttons">                            
            <div class="ms-alert-button confirm" onclick="$('.ms-alert').hide(); $('.tab-nav').show();" k="យល់ព្រម">OK</div>
        </div>                        
    </div>    
</div>

<!-- Action Menu -->
<div class="ms-alert action-menu" id="order_action" onclick="closeActionMenu()">
    <div class="ms-alert-body">
        <div class="hh">
            <li class="item item-complex">
                <a class="item-content">
                    <span class="a ion-alert-circled"></span>
                    <span class="b">Report Order</span>
                </a>
            </li>
            <li class="item item-complex" style="color:red">
                <a class="item-content">
                    <span class="a ion-close-round"></span>
                    <span class="b">Cancel Order</span>
                </a>
            </li>
            <div class="aa"></div>
            <li class="item item-complex" onclick="closeActionMenu()">
                <a class="item-content">                
                    <strong class="b">Cancel</strong>
                </a>
            </li>
        </div>
    </div>    
</div>


<!-- Action Menu -->
<div class="ms-alert action-menu" id="gas_ticket_action" onclick="closeActionMenu()">
    <div class="ms-alert-body">
        <div class="hh">
            <li class="item item-complex" style="color:red">
                <a class="item-content">
                    <span class="a ion-alert-circled"></span>
                    <span class="b">New Gas Ticket</span>
                </a>
            </li>
            <li class="item item-complex">
                <a class="item-content">
                    <span class="a ion-close-round"></span>
                    <span class="b">Open Google Map</span>
                </a>
            </li>
            <div class="aa"></div>
            <li class="item item-complex" onclick="closeActionMenu()">
                <a class="item-content">                
                    <strong class="b">Cancel</strong>
                </a>
            </li>
        </div>
    </div>    
</div>


