<div class"app-header">
    <div class="header-title" k="ទំនិញចង់បាន">My Wishlist</div>
    <div class="back" ng-click="myGoBack()">
        <span class="ion-ios-arrow-left"></span>
    </div>
</div>
<ion-view hide-nav-bar="true" class="header-view">
    <ion-content>
        <div class="wrap">
            <ul id="wishlist-panel" class="cart">
                <script>
                /*
                <li class="p-list">
                    <div class="a">
                        <img src="img/1.jpg" style="width:100%;height:100%">
                    </div>
                    <div class="b">
                        <div class="c">Vong Virak My name is </div>
                            <div class="cc">
                                <span class="ion-checkmark-round"></span>
                                <span k=" មានក្នុងស្តុក"> In Stock</span>
                            </div>
                        <div class="ee">
                            <div class="dd">$ 3.30</div>
                      
                      <div class="i">
                                <span class="delete ion-ios-trash-outline"></span>
                            </div>
                        </div>
                    </div>
                </li>
                */
                </script>
                
            </ul>
        </div>
    </ion-content>
</ion-view>
<script>
    
    var user_id = localStorage.getItem('user_id');
    var size_l = '120';
    $.post('http://www.nekoten.khmerqq.com/app/wishlist.php', {user_id:user_id, size_l:size_l}, function (data){        
        $('#wishlist-panel').html('');
        var a = JSON.parse(data);        
        for (var i = 0; i < a.length; i++){
            var ad = a[i];
            var str = '<li class="p-list">';
                    str += '<div class="a">';
                        str += '<img src="http://www.nekoten.khmerqq.com/ads/'+ad['ad_id']+'/1_m.jpg" style="width:'+ad['w']+';height:'+ad['h']+';margin-'+ad['margin']+':'+ad['px_l']+'">';
                    str += '</div>';
                    str += '<div class="b">';
                        str += '<div class="c">'+ad['title']+'</div>';
                            str += '<div class="cc">';
                                str += '<span class="ion-checkmark-round"></span>';
                                str += '<span k=" មានក្នុងស្តុក"> In Stock</span>';
                            str += '</div>';
                        str += '<div class="ee">';
                            str += '<div class="dd">'+ad['price']+'</div>';
                      str += '<div class="i">';
                                str += '<span class="delete ion-ios-trash-outline"></span>';
                            str += '</div>';
                        str += '</div>';
                    str += '</div>';
                str += '</li>';
            $('#wishlist-panel').append(str);
        }
        la();
    });
    
</script>
