.header-title{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    width: 100%;
}
.modal .sm-modal-body {
    margin-top: 60px;
}
.modal {    
    transform: translateY(100%);
    width: 100%;    
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: 0.3s;
}
.back .ion-ios-arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 25px 20px;
    line-height: 30px;
    font-size: 30px;
}
.back .ion-ios-more-outline{
    right: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 25px 20px;
    line-height: 30px;
    font-size: 30px;
}
.compose{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 22px 20px;
    line-height: 30px;
    font-size: 35px;
}
.modal-body{
    margin-top: 20px;
}
ion-content .modal-body{
    margin-top: 60px;
}
.ion-content{
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding-bottom: 100px;   
}
.tt input{
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}
.report-body{
    height: 60%;
}
.tt textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    height: 100%;
}
.tt{
    padding: 0 20px;
    height: 100%;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated{
    color: #ff3366 !important;
}
.ff #body{
    font-size: 12px;
    color: #aaa;
}
.er .b{
    margin-top: 30px;
    margin-left: 20px;
}
.er{
    display: inline-flex;    
    padding: 20px;
}
.gt{
    padding: 0 20px;
}
.er img{
    width: 80px;
    border: 1px solid #eee;
}
.er #name_en{
    font-size: 20px;
}
.uu{
    margin-top: 40px;
}
.uu .a{
    padding: 5px 20px;
}
.uu .a label{
    width: 100%;
    color: #aaa;
}
.uu .a input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #bbb;
    height: 30px;
    border-radius: inherit;
}
.ol .name{
    font-weight: bold;
}
.ol .cc{
    color: grey;
    float: right;
}
.ol .address{
    font-size: 12px;
    color: #aaa;
}
.ol .price{
    color: #ff3366;
}
.delivery_time{
    color: limegreen;
    font-size: 18px;
}
.ol .distance{
    float: right;
}
.ol .ion-arrow-down-c{
    color: #0085f6;
    text-align: center;
}
a {
    color: #0085f6;
}
.ol .ion-ios-arrow-right{
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 25px;
}
.eq .a{
    float: right;
    color: #ff3366;
    font-weight: bold;
}
.eq .ion-ios-arrow-right{
    font-size: 20px;
    position: absolute;
    right: 15px;
}
#reports .ion-ios-arrow-right{
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 25px;
}
.hr{
    height: 10px;
    background: #eee;
    width: 100%;
}
.btn {
    width: 100%;
    margin-top: 20px;
    color: white;
    background: #ff3366;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.uu .a input:focus{
    border-bottom: 2px solid #ff3366; 
}
.gu{
    text-align: center;
    margin-top: 40px;
}
.gu img{
    width: 100px;
}
.gu span{
    font-size: 20px;
    color: #ff3366;
}
.sign-in{
    width: 100%;    
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    height: 100%;
    transition: 0.3s;
}
.sm-modal {
    transform: translateY(100%);
    width: 100%;    
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    transition: 0.3s;
}

.sm-modal .shadow{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,.3);
    z-index: 100000;
    
}    
.back .close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 22px 20px;
    line-height: 30px;
    font-size: 35px;
}
.header-view {
    margin-top: 65px;
}
.yt{
    padding: 10px;
}

.yt .ab img{
    width: 50px;
    height: 50px;
}
.yt .a a{
    margin-top: 10px; 
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.yt .a{
    display: inline-flex;
}

.yt .c li{
    display: inline-flex;
}
.yt .d img{
    width: 100px;
}
.yt .e{
    margin-left: 10px;
}
.yt .b{
    border-bottom: 1px solid #eee;
    padding: 10px;
    color: grey;
}
.yt .ba{
    margin-right: 15px;
}

.yt .f{
    margin-top: 10px;
    font-size: 16px;
}

.yt .g .ion-ios-plus-empty, .yt .g .ion-ios-minus-empty{
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 0 6px;
    background: #eee;
}
.yt .g input{
    width: 50px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #eee;
}
.yt #price{
    color: #ff3366;
    font-weight: bold;
}
.yt .g{
    margin-top: 10px;
    color: grey;
}
.yt .item-left{
    margin-right: 10px;
}
.yt .c li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.yt .e #title{
    height: 42px;
    overflow: hidden;
}
.yt .h .total-price{
    float: right;
    font-size: 18px;
    color: #ff3366;
    font-weight: bold;
}
.yt .h{
    padding: 10px;    
}

.yr .ab img{
    width: 50px;
    height: 50px;
}
.yr .a a{
    margin-top: 10px; 
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.yr .a{
    display: inline-flex;
}
.yr {
    padding: 10px;
}
.yr .b{
    border-bottom: 1px solid #eee;
    padding: 10px;
    color: grey;
}
.yr .ba{
    margin-right: 15px;
}

.yr .c a{
    float: right;
}
.yr .h .total-price{
    font-size: 18px;     
    color: #ff3366;
}
.yr .h{
    padding: 0 10px;
}
.yr .d{
    margin-bottom: 20px;
}
.yr .i{    
    font-weight: bold;
    float: right;
}
.yr .d{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.yr .e{
    color: grey;
}
.modal-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #ddd;
    background: white;
}
.hj button{
    float: right;    
    color: white;
    background: #ff3366;
    border: none;
    padding: 5px 10px;
    margin: 10px;
    font-size: 16px;
}
.hj .a{
    color: limegreen;
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.ii .a{
    color: #ff3366;
    float: right;
}
.rt{
    font-weight: bold;
}
.rt .b{
    color: limegreen;
    float: right;
}
.rt .a{
    color: #ff3366;
    float: right;
}
.re{
    padding: 10px;
    padding-top: 20px;
}
.re .a{
    width: 100%;
}
.re .b{
    color: #aaa;
}
.re .c{
    float: right;
}
.action-menu{
    align-items: flex-end;          
}
.action-menu .ms-alert-body{
    width: 100%;
    margin-bottom: 10px;
    transform: translateY(150%);    
    transition: 300ms;
}
.hh .item{
    text-align: left;
    font-size: 20px;
}
.hh .aa{
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
}
.hh .a{
    margin-right: 10px;
}
.modal2 {    
    z-index: 900;
    transform: translateX(100%);  
}
.st .a img{
    width: 100%;
    height: auto; 
}
.st .b{
    display: inline-flex;
}
.st .c img{
    border: 2px solid white;
    width: 100px;
    margin-top: -40px;
    margin-left: 10px;
}
.st .d{
    margin-left: 20px;
    margin-top: 5px;
}
.st .e{
    font-size: 20px;
    font-weight: bold
}
.st .f{
    margin-top: 10px;
    display: inline-flex;
    font-size: 16px;
}
.st .h{
    color: #aaa;
    margin-right: 10px;
}
.ip{
    padding: 10px;
}
.kl .a{
    width: 100%;
    display: inline-flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.kl .b{
    font-size: 26px;
    margin-right: 15px;
}
.kl .c{
    font-size: 16px;
}
.tb{
    width: 100%;
    display: inline-flex;
}
.tb-4 .a{
    width: 25%;
}
.tb-3 .a{
    width: 33%;
}
.tb-2 .a{
    width: 50%;
}
.tb .a{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-stretch: 16px;
    color: grey;
}
.tb .a.active{
    border-bottom: 2px solid #ff3366;    
    color: #ff3366;
}
